http:
  middlewares:
    cb-documentos:
      circuitBreaker:
        expression: "ResponseCodeRatio(500, 600, 0, 600) > 0.25 || NetworkErrorRatio() > 0.5 || LatencyAtQuantileMS(50.0) > 100"

    cb-alumnos:
      circuitBreaker:
        expression: "ResponseCodeRatio(500, 600, 0, 600) > 0.25 || NetworkErrorRatio() > 0.5 || LatencyAtQuantileMS(50.0) > 100"

    cb-academica:
      circuitBreaker:
        expression: "ResponseCodeRatio(500, 600, 0, 600) > 0.25 || NetworkErrorRatio() > 0.5 || LatencyAtQuantileMS(50.0) > 100"

    retry-policy:
      retry:
        attempts: 4
        initialInterval: 100ms

    compress:
      compress:
        excludedContentTypes:
          - text/event-stream

    auth-dashboard:
      basicAuth:
        users:
          - "admin:$apr1$H6uskkkW$IgXLP6ewTrSuBkTrqE8wj/"